{% extends './base.html' %}
{% load crispy_forms_tags %}

{% block body %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-lg-8">
            <div class="jumbotron">
                <div class="text-right">
                    <a href="{% url 'attendance' %}" class="btn btn-outline-primary">Back</a>
                    <a href="{% url 'view-attendance' %}" class="btn btn-outline-primary">View</a>
                    <a href="{% url 'logout' %}" class="btn btn-outline-primary">Logout</a>
                </div>

                <h1 class="display-5">Attendance</h1>
                <p class="lead text-primary">Name: {{ user.username|capfirst }}</p>
                <hr class="my-4">
                <input type="hidden" id="date-list" name="variable" value="{{ attendance }}">

                <div class="container-calendar">
                    <h3 id="monthAndYear"></h3>
                    <div class="button-container-calendar">
                        <button id="previous" onclick="previous()">&#8249;</button>
                        <button id="next" onclick="next()">&#8250;</button>
                    </div>

                    <table class="table-calendar" id="calendar" data-lang="en">
                        <thead id="thead-month"></thead>
                        <tbody id="calendar-body"></tbody>
                    </table>

                    <div class="footer-container-calendar">
                        <label for="month">Jump To: </label>
                        <select id="month" onchange="jump()">
                            <option value=0>Jan</option>
                            <option value=1>Feb</option>
                            <option value=2>Mar</option>
                            <option value=3>Apr</option>
                            <option value=4>May</option>
                            <option value=5>Jun</option>
                            <option value=6>Jul</option>
                            <option value=7>Aug</option>
                            <option value=8>Sep</option>
                            <option value=9>Oct</option>
                            <option value=10>Nov</option>
                            <option value=11>Dec</option>
                        </select>
                        <select id="year" onchange="jump()"></select>
                    </div>
                </div>






                <!--                 
                <table class="table table-bordered bg-white">
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Date
                        </th>
                    </tr>
               
                {% for each_attendance in attendance %}
                <tr>
                    <td>{{each_attendance.id}}</td>
                    <td>{{each_attendance.created_at}}</td>
                </tr>
                    <p></p>
                   
                {% endfor %}
            </table> -->
            </div>
        </div>
    </div>
    <script> 
    // console.log("sdsdsds","{{ attendance |safe }}");
    
    </script>
</div>

{% endblock body %}